<!DOCTYPE html>
<html lang="en" ng-app="MyApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>
	<link href="template.less" rel="stylesheet/less" />
	<script src="jquery-1.10.2.min.js"></script>
	<script src="less.min.js"></script>
	<script src="angular.min.js"></script>
	<script src="script.js"></script>

    <!-- Bootstrap -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <!-- <link href="css/style.css" rel="stylesheet"> -->

  </head>

  <body ng-controller="PhoneListCtrl">
   
    
   

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.js"></script>
  </body>





































































<!-- <div class="container">
      
      <div class="row">
        <div class="col-md-3 first" id="wow">
          FIRST DIV
        </div>
        <div class="col-md-6 first" id="wow2">
          SECOND DIV
        </div>
        <div class="col-md-3 first" id="wow">
          THIRD DIV
        </div>
      </div>

      <div class="row">
        <div class="col-md-3 first" id="wow00">
          FIRST DIV
        </div>
        <!-- <div ng-repeat="i in massive" class="col-md-6 first" id="wow22">
          SECOND DIV
        </div> -->
        <!-- <div id="wow33">
        <div ng-repeat="i in massive" class="col-md-6 first" id="bot">
          SECOND DIV {{ i }}
        </div>
        <div class="col-md-3 first" id="wow22">
          THIRD DIV
        </div>
      </div> --> -->

<!--       <div class="row" id="tweet">
        <div ng-repeat="i in massive" class="col-md-6 first" id="wow22">
          SECOND DIV {{ i }}
        </div>
      </div>  
 -->
    <!-- </div> -->

    



  <!-- <div ng-repeat="i in massive" class="col-md-6 first" id="wow2">
          SECOND DIV {{ i }}
        </div> -->

   <!-- <div id="first_div">{{ title }}</div> -->
